body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-around;
  align-content: space-around;
  overflow: hidden;
}

.my-row {
  flex: 1;
  min-height: 50px;
}

.my-row.bottom {
  flex: 0 0 auto;
}

.my-row.top {
  min-height: 100px;

  display: flex;
  flex-flow: column nowrap;
}

.header {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  flex: 0 0 auto;
}

.logo {
  background: url(../Seal_of_the_United_States_Congress.svg.png);
  background-size: 40px 40px;
  flex: 0 0 auto;
  height: 40px;
  width: 40px;
  margin: 5px 0 5px 25px;
}

.navbar-brand {
  flex: 1 1 auto;
}

.not-header-container {
  flex: 1 1 auto;
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.map-container {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
}

.map {
  height: 100%;
  flex: 1 1 auto;
}

.tools {
  flex: 0 1 250px;
  overflow-y: scroll;
  padding: 10px;
}


.filters {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.filters .form-group {
  padding: 0 10px;
}

#year-group {
  flex: 1;
  max-width: 100px;
}

#subcommittee-group {
  flex: 1;
  max-width: 120px;
}

#agency-group {
  flex: 2;
}

#bureau-group {
 flex: 2;
}

#program-group {
  flex: 3;
}

.buttons {
  padding-bottom: 15px;
}

.congress-group {
  display: flex;
  justify-content: space-between;
}

.congress-group .radio-inline {
  margin: 0;
}

.map-loading {
  position: absolute;
  left: 2.5em;
  top: 50px;
  background: rgba(0,0,0,0.3);
}
